html {
	position: relative;
	min-height: 100%;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
	border: none !important;
}

.resume-body {
	background: #EAE7E6;
	margin-bottom: 50px;
}

.resume-main {
	
}

.resume-general-img {
	width: 100%;
}

.resume-edit-block {
	background-color: white;
}

.resume-search-text {
	color: #777;
	font-size: 75%;
}

.panel-padding {
	padding: 15px;
}

.resume-footer {
	background: #292c2f;
	color: #ffffff;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 50px;
}

.navbar-brand > a {
	
}
.navbar-brand > a:hover,
.navbar-brand > a:focus {
	color: #262626;
	text-decoration: none;
}

.dropdown-menu-aitem {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
.dropdown-menu-aitem:hover,
.dropdown-menu-aitem:focus {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

.input-file {
	visibility: hidden;
	height: 0;
}

#loadMoreIndicator {
	display: none;
}

.sign-in-restore-block {
	display: table;
	width: 100%;
}

.fbLogin-block {
	text-align: center;
}

.align-center {
	text-align: center;
}

.table textarea {
	resize: none;
}

.general-td-items,
.contact-td-items {
	width: 10%;
}
.general-td-fileds,
.contact-td-fileds {
	width: 50%;
}
.general-td-notes,
.contact-td-notes {
	width: 40%;
}

.course-td-desc,
.course-td-school {
	width: 35%;
}
.course-td-month,
.course-td-year {
	width: 13%;
}

.td-close-btn {
	width: 4%;
}

.education-td-start-year,
.education-td-compl-year {
	width: 48%;
}

.experience-td-date {
	width: 24%;
}

.hobby-block {
	padding: 10px;
}
.hobby-btn {
	width: 100%;
}
.hobby-td-icon {
	float: left !important;
}
.hobby-td-name {
	float: right !important;
}

.language-td-type,
.language-td-name,
.language-td-level {
	width: 32%;
}

.skill-td-category {
	width: 20%;
}
.skill-td-desc {
	width: 76%;
}

.resume-contact-td-icon {
	width: 5%;
}
.resume-contact-td-value {
	width: 95%;
}

.resume-hobby-td-icon {
	width: 25%;
}
.resume-hobby-td-name {
	width: 75%;
}

.resume-skill-td-category {
	width: 20%
}

#certificate-img-lg {
	width: 100%;
	border-radius: 5px;
}

.certificate-block-btn {
	position: relative;
	left: -10px;
	top: 5px;
}

.navtabs {
	border: 1px solid #dddddd !important;
}
.navtabs:hover,
.navtabs:focus {
	background-color: #ffffff !important;;
}
.navtabs-icon {
	background-color: #888 !important;
}
@media (min-width: 767px) {
	.navtabs-brand {
		display: none;
	}
}

.modal-certificate-img {
	width: 100%;
}