.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
	border: none !important;
}

.resume-body {
	background: #EAE7E6;
}

.resume-main {
	
}

.resume-edit-block {
	background-color: white;
}

.resume-search-text {
	color: #777;
	font-size: 75%;
}

.panel-padding {
	padding: 15px;
}

.resume-footer {
  position: relative;
  bottom: 0;
  margin: 20px;
  background-color: white;
  border-radius: 4px;
}
.resume-footer > p {
	color: #777;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
}

.navbar-brand > a {
	
}
.navbar-brand > a:hover,
.navbar-brand > a:focus {
	color: #262626;
	text-decoration: none;
}

.dropdown-menu-aitem {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu-aitem:hover,
.dropdown-menu-aitem:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.input-file {
	visibility: hidden;
	height: 0;
}